---
export interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h3>
			{title}
			<span>&rarr;</span>
		</h3>
	</a>
</li>
<style>
.link-card {
  display: flex;
  background-color: #e3d9d1;
  border-radius: 8px;
  padding-left: 20px;
  padding-right:20px;
  padding-bottom: 20px;
  transition-duration: 0.35s;
}
.link-card:hover {
  background-color: #cbc4be;
  cursor: pointer;
}
h3 {
  font-weight: 500;
  font-size: 17.5px;
  text-decoration:none;
}

</style>
